In [ ]:
Câu 1 (1đ): Số hoàn hảo (hay còn gọi là số hoàn chỉnh, số hoàn thiện hoặc số hoàn thành)
là một số nguyên dương mà tổng các ước nguyên dương thực sự của nó (các số nguyên dương
bị nó chia hết ngoại trừ nó) bằng chính nó.
In ra số lượng các số là số hoàn hảo trong khoảng giá trị từ 1 cho tới 10000.
VD: 6, 28, 496 là các số hoàn hảo.

In [12]:
for SoHoanHao in range(1000):
    Tong = 0
    for n in range(1, SoHoanHao - 1):
        if(SoHoanHao % n == 0):
            Tong = Tong + n       
    if Tong == SoHoanHao and Tong != 0:
        print(" %d " %SoHoanHao)

 6
 28
 496

In [ ]:
Câu 2 (1đ): In ra 4 giá trị như sau: tổng giá trị của các số nguyên tố, tổng giá trị của các số chẵn,
tổng giá trị của các số là số chính phương, tổng giá trị của các số là bội số của 10 trong khoảng
giá trị từ 1 cho tới 10000.

In [27]:
def KT_so_nguyen_to(n):
    flag = True
 
    # Kiểm tra so nguyen to
    if (n < 2):
        flag = False
    elif (n == 2):
        flag = True
    elif (n % 2 == 0):
        flag = False
    else:
        for i in range(3, n, 2):
            if (n % i == 0):
                flag = False
 
    return flag

In [37]:
tong = 0
 
for i in range(2, 10001):
    if (KT_so_nguyen_to(i)):
        tong += i
print("Tong gia tri so nguyen to la: ", tong)

Tong gia tri so nguyen to la:  5736396

In [47]:
def KT_so_chan(n):
  if n%2==0 and n!=0:
    return True
  else:
    return False

In [49]:
tong = 0

for i in range(2,10001):
    if KT_so_chan(i) == True:
     tong += i
print("Tong gia tri so chan la: ", tong)

Tong gia tri so chan la:  25005000

In [50]:
def KT_so_chinh_phuong(n):
    flag = False;
    if any(i**2 == n for i in range(n+1)):
        flag = True
    return flag

In [51]:
tong = 0
for i in range(2,10001):
    if KT_so_chinh_phuong(i)==True:
      tong += i 
print("Tong gia tri so chinh phuong la: ", tong)

Tong gia tri so chinh phuong la:  338349

In [54]:
tong = 0
for i in range(2,10001):
  if i%10==0:
    tong += i
print("Tong gia tri so la boi so cua 10 la: ", tong)

Tong gia tri so la boi so cua 10 la:  5005000

In [ ]:
Python pandas (1.5đ)

In [55]:
import pandas as pd

In [56]:
sales = pd.read_csv('sales.csv')

In [ ]:
import sales as df

In [ ]:
Câu 1: Lấy thông tin về Mã đơn hàng, mã sản phẩm, mã khách hàng, số lượng sản phẩm của những dòng dữ liệu thỏa điều kiện Ship Mode là Standard Class

In [79]:
cau1 = sales[['Order ID','Product ID','Customer ID','Quantity']].loc[sales['Ship Mode'] == "Standard Class"]
cau1

            Order ID       Product ID Customer ID  Quantity
3     US-2015-108966  FUR-TA-10000577    SO-20335         5
4     US-2015-108966  OFF-ST-10000760    SO-20335         2
5     CA-2014-115812  FUR-FU-10001487    BH-11710         7
6     CA-2014-115812  OFF-AR-10002833    BH-11710         4
7     CA-2014-115812  TEC-PH-10002275    BH-11710         6
...              ...              ...         ...       ...
9987  CA-2017-163629  TEC-AC-10001539    RA-19885         1
9988  CA-2017-163629  TEC-PH-10004006    RA-19885         5
9990  CA-2017-121258  FUR-FU-10000747    DB-13060         2
9991  CA-2017-121258  TEC-PH-10003645    DB-13060         2
9992  CA-2017-121258  OFF-PA-10004041    DB-13060         4

[5968 rows x 4 columns]

In [ ]:
#Câu 2 (1đ): Lấy thông tin về mã đơn hàng thỏa mãn điều kiện có tồn tại một loại sản phẩm (Product ID) thuộc nhóm category là Office Supplies và có quantity > 3

In [81]:
cau2 = sales[['Order ID','Category','Quantity']].loc[(sales['Category'] == "Office Supplies") & (sales['Quantity']>3)]
cau2

            Order ID         Category  Quantity
6     CA-2014-115812  Office Supplies         4
9     CA-2014-115812  Office Supplies         5
14    US-2015-118983  Office Supplies         5
16    CA-2014-105893  Office Supplies         6
20    CA-2014-143336  Office Supplies         4
...              ...              ...       ...
9981  CA-2017-163566  Office Supplies         5
9982  US-2016-157728  Office Supplies         7
9984  CA-2015-100251  Office Supplies        10
9985  CA-2015-100251  Office Supplies         4
9992  CA-2017-121258  Office Supplies         4

[2614 rows x 3 columns]

In [ ]:
# Câu 3 (1đ) : Thống kê số lượng mã đơn hàng, số lượng các loại sản phẩm (product ID),tổng doanh thu và tổng lợi nhuận theo từng Category, sắp xếp theo thứ tự giảm dần của doanh thu

In [100]:
cau3 = sales.groupby('Category').agg({'Order ID': 'count', 'Product ID': 'count','Sales': 'sum','Profit': 'sum'}).sort_values(by='Sales', ascending=False)
cau3

                 Order ID  Product ID      Sales     Profit
Category
Technology           1847        1847  836154.10  145455.66
Furniture            2121        2121  741999.98   18451.25
Office Supplies      6026        6026  719046.99  122490.88